.titles{
  font-family: 'Black Han Sans', sans-serif;

  display: flex;
  justify-content: center;
}

.clock {
  font-family: 'Black Han Sans', sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}

.time {
  
}

.date {


}

